body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #272727;
  box-sizing: border-box; }

@keyframes out-in-negative {
  0% {
    transform: translateX(0px) rotate(0deg); }
  50% {
    transform: translateX(-50px) rotate(45deg); }
  100% {
    transform: translateX(0) rotate(90deg); } }

@keyframes out-in-y-negative {
  0% {
    transform: translateX(0px) rotate(0deg); }
  50% {
    transform: translateY(-50px) rotate(45deg); }
  100% {
    transform: translateX(0) rotate(90deg); } }

@keyframes out-in-y {
  0% {
    transform: translateX(0px) rotate(0deg); }
  50% {
    transform: translateY(50px) rotate(45deg); }
  100% {
    transform: translateX(0) rotate(90deg); } }

@keyframes out-in {
  0% {
    transform: translateX(0px) rotate(0deg); }
  50% {
    transform: translateX(50px) rotate(45deg); }
  100% {
    transform: translateX(0) rotate(90deg); } }

.container {
  width: 100px;
  height: 100px;
  background-color: transparent;
  position: relative;
  animation: animate 4s linear infinite; }

span {
  position: absolute;
  width: 50px;
  height: 50px; }
  span:nth-child(1) {
    top: 0;
    left: 0;
    background-color: #f9fd01;
    animation: out-in-negative 4s infinite; }
  span:nth-child(2) {
    top: 0;
    right: 0;
    background-color: #a6f578;
    animation: out-in-y-negative 4s infinite; }
  span:nth-child(3) {
    bottom: 0;
    left: 0;
    background-color: #05c7ce;
    animation: out-in-y 4s infinite; }
  span:nth-child(4) {
    bottom: 0;
    right: 0;
    background-color: #fd4646;
    animation: out-in 4s infinite; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(90deg); } }

@keyframes animate {
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }
