body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: rgba(#272727, 1);
  box-sizing: border-box;
}

@mixin cube-animation($animation-name, $translationValue, $verticalTranslation: false) {
  $transformProperty: translateX($translationValue);

  @if $verticalTranslation {
    $transformProperty: translateY($translationValue);
  }

  @keyframes #{$animation-name} {
    0% {
      transform: translateX(0px) rotate(0deg);
    }
    50% {
      transform: $transformProperty rotate(45deg);
    }
    100% {
      transform: translateX(0) rotate(90deg);
    }
  }
}

@include cube-animation(out-in-negative, -50px);
@include cube-animation(out-in-y-negative, -50px, true);
@include cube-animation(out-in-y, 50px, true);
@include cube-animation(out-in, 50px);

.container {
  width: 100px;
  height: 100px;
  background-color: transparent;
  position: relative;
  animation: animate 4s linear infinite;
  
}

span {
  position: absolute;
  width: 50px;
  height: 50px;
  
  &:nth-child(1) {
    top: 0;
    left: 0;
    background-color: #f9fd01;
    animation: out-in-negative 4s infinite;
  }

  &:nth-child(2) {
    top: 0;
    right: 0;
    background-color: #a6f578;
    animation: out-in-y-negative 4s infinite;
  }

  &:nth-child(3) {
    bottom: 0;
    left: 0;
    background-color: #05c7ce;
    animation: out-in-y 4s infinite;
  }

  &:nth-child(4) {
    bottom: 0;
    right: 0;
    background-color: #fd4646;
    animation: out-in 4s infinite;
    }
  }


@keyframes rotate {

  0% {
  transform: rotate(0deg);
}

 
  100% {
    transform: rotate(90deg);
  }
  
}



@keyframes animate {

  
  25% {
    transform: rotate(90deg);
  }

  50% {
  
  transform: rotate(180deg);
}

  75% {
    transform: rotate(270deg);
  }

  

  100% {
  
  transform: rotate(360deg);
  
}
}
